{
  "openapi": "3.0.0",
  "info": {
    "title": "r/SpaceX API Docs",
    "description": "## Disclaimer\n*We are not affiliated, associated, authorized, endorsed by, or in any way officially connected with Space Exploration Technologies Inc (SpaceX), or any of its subsidiaries or its affiliates. The names SpaceX as well as related names, marks, emblems and images are registered trademarks of their respective owners.*\n\n## Base URL\nThe most current version of the API is v3, with the following base URL\n`https://api.spacexdata.com/v3`\n\n## API Status\nSee the [status](https://status.spacexdata.com) page for details\n\n## Authentication\nNo authentication is required to use this public API\n\n## JSON Field Masking\nSmaller JSON payloads can be generated through the use of the `filter` querystring. When using this querystring, all fields not included in the query will be omitted from the response.\n\nFor example, on the launches endpoint, you could include `filter=flight_number` to only return the flight number of every launch. Nested JSON fields can be expressed using a forward slash for each nested level. Ex: `filter=rocket/second_stage/payloads` to only return the payload objects from each launch. Multiple filters can be listed using a comma separator Ex: `filter=rocket/second_stage/payloads,flight_number,mission_name`.\n\nMore information on the syntax can be found on the json-mask [github](https://github.com/nemtsov/json-mask) page.\n\n## Pagination\nAll endpoints that return an array of objects can be paginated by using the `limit` and `offset` querystrings. This allows you to limit results and create pages of results to offset or skip.\n\nOn all endpoints that return an array, the header `spacex-api-count` is included with the total number of items in the array. This can be used to page through the results. By default, there is no limit set.\n\nFor example, the url `https://api.spacexdata.com/v3/launches?limit=1&offset=5` will only return launch #6, because we limited the results to a single launch, and skipped the first 5 launches using offset.\n\n## Pretty Printing\nJSON pretty printing is turned off by default to reduce payload size. It can be enabled by including\nthe querystring `pretty=true` in the url.\n```http\nGET https://api.spacexdata.com/v3/launches/latest?pretty=true\n```\n\n## Privacy\nI do not log IP addresses or any personally identifiable information at the app or web server level. I collect timestamps,\nHTTP methods, urls, and response times to adjust caching strategies on popular endpoints. Below is a sample log line output:\n```bash\n[27/Aug/2018:00:42:06 +0000] \"GET /v3/launches/latest HTTP/1.1\" 200 - 51.478 ms\n```\n\nI use [Cloudflare](https://www.cloudflare.com/) in front of the API. Please see their [privacy policy](https://www.cloudflare.com/privacypolicy/) for more details on data collection policies.\n\n## Rate Limiting\nThe API has a rate limit of 50 req/sec per IP address, if exceeded, a response of 429 will be given\nuntil the rate drops back below 50 req/sec\n\n## Caching\nIn general, the standard cache times are as follows:\n\n* launches - 30 seconds\n* ships, payloads, roadster - 5 minutes\n* capsules, cores, launchpads, landpads - 1 hour\n* dragons, rockets, missions, history, company info - 24 hours\n\n## Date field FAQ's\nDates and Date related field explanations:\n\n`launch_year` - Year of the launch in string form (Will be deprecated soon)\n\n`launch_date_unix` - UTC launch date/time as a UNIX timestamp in seconds\n\n`launch_date_utc` - UTC launch date/time in ISO 8601 format\n\n`launch_date_local` - Local launch time with time zone offset in ISO 8601 format\n\n`is_tentative` - Set as true until a launch has an time attached to the date\n\n`tentative_max_precision` - Gives the current known precision for the launch date. Valid values are `quarter`, `half`, `year`, `month`, `day`, `hour`. This allows us to give more context when representing partial dates like `November 2019` with a precision of `month`\n\n`tbd` - Set as false when the date includes a day number or a day number with a time, otherwise the date is considered to be TBD and set as true\n\n`upcoming` - Set as true until the moment of launch\n\n`static_fire_date_utc` - UTC date/time for the rocket static fire test in ISO 8601 format\n\n`static_fire_date_unix` - UTC date/time for the rocket static fire test as a UNIX timestamp in seconds",
    "contact": {},
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.spacexdata.com",
      "variables": {}
    }
  ],
  "paths": {
    "/v3/capsules": {
      "get": {
        "tags": [
          "Capsules"
        ],
        "summary": "All Capsules",
        "description": "\n#### Optional Querystrings\n\n| Param  | Sample | Type | Description |\n| --- | --- | --- | --- |\n| capsule_serial | `C112` | string | Filter by capsule serial |\n| capsule_id | `dragon1` | string | Filter by capsule id |\n| status | `active` | string | Filter by capsule status |\n| original_launch | `2017-02-19T14:39:00.000Z` | UTC ISO timestamp | Filter by capsule original launch date |\n| mission | `SpaceX CRS-5` | string | Filter by capsule mission |\n| landings | `2` | integer | Filter by capsule landings |\n| type | `Dragon 1.1` | string | Filter by capsule type |\n| reuse_count | `1` | integer | Filter by number of times the capsule was reused |\n\n#### Optional Ouput Control Querystrings\n\n| Param  | Sample | Type | Description |\n| --- | --- | --- | --- |\n| id | `true` | boolean | Set as `true` to show mongo document id's |\n| limit | `3` | integer | Limit results returned, defaults to all documents returned |\n| offset | `3` | integer | Offset or skip results from the beginning of the query |\n| sort | `capsule_serial` | string | Change result sorting by setting value to any parameter in this list |\n| order | `desc` | string | Change result ordering by setting values of `asc` or `desc` |",
        "operationId": "AllCapsules",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Access-Control-Allow-Origin": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "*"
                  }
                }
              },
              "CF-RAY": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "45844b21efc058df-DFW"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Mon, 10 Sep 2018 19:27:42 GMT"
                  }
                }
              },
              "Expect-CT": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "cloudflare"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "Transfer-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "chunked"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding, Origin"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Response-Time": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "37ms"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1; mode=block"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AllCapsule"
                  }
                },
                "example": [
                  {
                    "capsule_serial": "C101",
                    "capsule_id": "dragon1",
                    "status": "retired",
                    "original_launch": "2010-12-08T15:43:00Z",
                    "original_launch_unix": 1291822980,
                    "missions": [
                      {
                        "name": "COTS 1",
                        "flight": 7
                      }
                    ],
                    "landings": 0,
                    "type": "Dragon 1.0",
                    "details": "Reentered after three weeks in orbit",
                    "reuse_count": 0
                  },
                  {
                    "capsule_serial": "C102",
                    "capsule_id": "dragon1",
                    "status": "retired",
                    "original_launch": "2012-05-02T07:44:00Z",
                    "original_launch_unix": 1335944640,
                    "missions": [
                      {
                        "name": "COTS 2",
                        "flight": 8
                      }
                    ],
                    "landings": 1,
                    "type": "Dragon 1.0",
                    "details": "First Dragon spacecraft",
                    "reuse_count": 0
                  },
                  {
                    "capsule_serial": "C103",
                    "capsule_id": "dragon1",
                    "status": "unknown",
                    "original_launch": "2012-10-08T00:35:00Z",
                    "original_launch_unix": 1349656500,
                    "missions": [
                      {
                        "name": "CRS-1",
                        "flight": 9
                      }
                    ],
                    "landings": 1,
                    "type": "Dragon 1.0",
                    "details": "First of twenty missions flown under the CRS1 contract",
                    "reuse_count": 0
                  },
                  {
                    "capsule_serial": "C104",
                    "capsule_id": "dragon1",
                    "status": "unknown",
                    "original_launch": "2013-03-01T19:10:00Z",
                    "original_launch_unix": 1362165000,
                    "missions": [
                      {
                        "name": "CRS-2",
                        "flight": 10
                      }
                    ],
                    "landings": 1,
                    "type": "Dragon 1.0",
                    "details": null,
                    "reuse_count": 0
                  },
                  {
                    "capsule_serial": "C105",
                    "capsule_id": "dragon1",
                    "status": "unknown",
                    "original_launch": "2014-04-18T19:25:00Z",
                    "original_launch_unix": 1397849100,
                    "missions": [
                      {
                        "name": "CRS-3",
                        "flight": 14
                      }
                    ],
                    "landings": 1,
                    "type": "Dragon 1.1",
                    "details": "First Dragon v1.1 capsule",
                    "reuse_count": 0
                  },
                  {
                    "capsule_serial": "C106",
                    "capsule_id": "dragon1",
                    "status": "active",
                    "original_launch": "2014-09-21T05:52:00Z",
                    "original_launch_unix": 1411278720,
                    "missions": [
                      {
                        "name": "CRS-4",
                        "flight": 18
                      },
                      {
                        "name": "CRS-11",
                        "flight": 41
                      }
                    ],
                    "landings": 2,
                    "type": "Dragon 1.1",
                    "details": "First Dragon capsule to be reused",
                    "reuse_count": 1
                  },
                  {
                    "capsule_serial": "C107",
                    "capsule_id": "dragon1",
                    "status": "unknown",
                    "original_launch": "2015-01-10T09:47:00Z",
                    "original_launch_unix": 1420883220,
                    "missions": [
                      {
                        "name": "CRS-5",
                        "flight": 19
                      }
                    ],
                    "landings": 1,
                    "type": "Dragon 1.1",
                    "details": null,
                    "reuse_count": 0
                  },
                  {
                    "capsule_serial": "C108",
                    "capsule_id": "dragon1",
                    "status": "active",
                    "original_launch": "2015-04-14T20:10:00Z",
                    "original_launch_unix": 1429042200,
                    "missions": [
                      {
                        "name": "CRS-6",
                        "flight": 22
                      },
                      {
                        "name": "CRS-13",
                        "flight": 51
                      }
                    ],
                    "landings": 2,
                    "type": "Dragon 1.1",
                    "details": "Second Dragon capsule to be reused",
                    "reuse_count": 1
                  },
                  {
                    "capsule_serial": "C109",
                    "capsule_id": "dragon1",
                    "status": "destroyed",
                    "original_launch": "2015-06-28T14:21:00Z",
                    "original_launch_unix": 1435501260,
                    "missions": [
                      {
                        "name": "CRS-7",
                        "flight": 24
                      }
                    ],
                    "landings": 0,
                    "type": "Dragon 1.1",
                    "details": "Destroyed on impact after F9 launch failure",
                    "reuse_count": 0
                  },
                  {
                    "capsule_serial": "C110",
                    "capsule_id": "dragon1",
                    "status": "active",
                    "original_launch": "2016-04-08T20:43:00Z",
                    "original_launch_unix": 1460148180,
                    "missions": [
                      {
                        "name": "CRS-8",
                        "flight": 28
                      },
                      {
                        "name": "CRS-14",
                        "flight": 59
                      }
                    ],
                    "landings": 2,
                    "type": "Dragon 1.1",
                    "details": null,
                    "reuse_count": 1
                  },
                  {
                    "capsule_serial": "C111",
                    "capsule_id": "dragon1",
                    "status": "active",
                    "original_launch": "2016-07-18T04:45:00Z",
                    "original_launch_unix": 1468817100,
                    "missions": [
                      {
                        "name": "CRS-9",
                        "flight": 32
                      },
                      {
                        "name": "CRS-15",
                        "flight": 64
                      }
                    ],
                    "landings": 2,
                    "type": "Dragon 1.1",
                    "details": null,
                    "reuse_count": 1
                  },
                  {
                    "capsule_serial": "C112",
                    "capsule_id": "dragon1",
                    "status": "active",
                    "original_launch": "2017-02-19T14:39:00Z",
                    "original_launch_unix": 1487515140,
                    "missions": [
                      {
                        "name": "CRS-10",
                        "flight": 36
                      },
                      {
                        "name": "CRS-16",
                        "flight": 72
                      }
                    ],
                    "landings": 2,
                    "type": "Dragon 1.1",
                    "details": null,
                    "reuse_count": 1
                  },
                  {
                    "capsule_serial": "C113",
                    "capsule_id": "dragon1",
                    "status": "active",
                    "original_launch": "2017-08-14T16:31:00Z",
                    "original_launch_unix": 1502728260,
                    "missions": [
                      {
                        "name": "CRS-12",
                        "flight": 45
                      }
                    ],
                    "landings": 1,
                    "type": "Dragon 1.1",
                    "details": "The last newly manufactured Dragon 1",
                    "reuse_count": 0
                  },
                  {
                    "capsule_serial": "C201",
                    "capsule_id": "dragon2",
                    "status": "active",
                    "original_launch": null,
                    "original_launch_unix": null,
                    "missions": [],
                    "landings": 0,
                    "type": "Dragon 2.0",
                    "details": "Pressure vessel used for Dragon 2 structural testing. Rumored to be repurposed for first Red Dragon Mission",
                    "reuse_count": 0
                  },
                  {
                    "capsule_serial": "C202",
                    "capsule_id": "dragon2",
                    "status": "active",
                    "original_launch": null,
                    "original_launch_unix": null,
                    "missions": [],
                    "landings": 0,
                    "type": "Dragon 2.0",
                    "details": "Capsule used to qualify Dragon 2's environmental control and life support systems.",
                    "reuse_count": 0
                  },
                  {
                    "capsule_serial": "C203",
                    "capsule_id": "dragon2",
                    "status": "active",
                    "original_launch": null,
                    "original_launch_unix": null,
                    "missions": [],
                    "landings": 0,
                    "type": "Dragon 2.0",
                    "details": "Rumored to be used for Inflight Abort Test after DM-1",
                    "reuse_count": 0
                  },
                  {
                    "capsule_serial": "C204",
                    "capsule_id": "dragon2",
                    "status": "active",
                    "original_launch": null,
                    "original_launch_unix": null,
                    "missions": [],
                    "landings": 0,
                    "type": "Dragon 2.0",
                    "details": "Currently in construction for use in DM-2",
                    "reuse_count": 0
                  },
                  {
                    "capsule_serial": "C205",
                    "capsule_id": "dragon2",
                    "status": "active",
                    "original_launch": null,
                    "original_launch_unix": null,
                    "missions": [],
                    "landings": 0,
                    "type": "Dragon 2.0",
                    "details": "In construction for use in first mission in contract under the CCtCap contract",
                    "reuse_count": 0
                  }
                ]
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/capsules/{capsule_serial}": {
      "get": {
        "tags": [
          "Capsules"
        ],
        "summary": "One Capsule",
        "description": "#### Params\n\n| Param  | Sample | Type | Description |\n| --- | --- | --- | --- |\n| capsule_serial | `C113` | string | get one capsule by serial |\n\n#### Optional Ouput Control Querystrings\n\n| Param  | Sample | Type | Description |\n| --- | --- | --- | --- |\n| id | `true` | boolean | Set as `true` to show mongo document id's |",
        "operationId": "OneCapsule",
        "parameters": [
          {
            "name": "capsule_serial",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Access-Control-Allow-Origin": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "*"
                  }
                }
              },
              "CF-RAY": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "45844c4108ab58df-DFW"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Mon, 10 Sep 2018 19:28:28 GMT"
                  }
                }
              },
              "Expect-CT": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "cloudflare"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "Transfer-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "chunked"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding, Origin"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Response-Time": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "41ms"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1; mode=block"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/OneCapsule"
                },
                "example": {
                  "capsule_serial": "C112",
                  "capsule_id": "dragon1",
                  "status": "active",
                  "original_launch": "2017-02-19T14:39:00Z",
                  "original_launch_unix": 1487515140,
                  "missions": [
                    {
                      "name": "CRS-10",
                      "flight": 36
                    }
                  ],
                  "landings": 1,
                  "type": "Dragon 1.1",
                  "details": null,
                  "reuse_count": 0
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OneShipError"
                },
                "example": {
                  "error": "Not Found"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/capsules/upcoming": {
      "get": {
        "tags": [
          "Capsules"
        ],
        "summary": "Upcoming Capsules",
        "description": "Lists capsules that haven't launched yet\n\n#### Optional Querystrings\n\n| Param  | Sample | Type | Description |\n| --- | --- | --- | --- |\n| capsule_serial | `C112` | string | Filter by capsule serial |\n| capsule_id | `dragon1` | string | Filter by capsule id |\n| status | `active` | string | Filter by capsule status |\n| original_launch | `2017-02-19T14:39:00.000Z` | UTC ISO timestamp | Filter by capsule original launch date |\n| mission | `SpaceX CRS-5` | string | Filter by capsule mission |\n| landings | `2` | integer | Filter by capsule landings |\n| type | `Dragon 1.1` | string | Filter by capsule type |\n| reuse_count | `1` | integer | Filter by number of times the capsule was reused |\n\n#### Optional Ouput Control Querystrings\n\n| Param  | Sample | Type | Description |\n| --- | --- | --- | --- |\n| id | `true` | boolean | Set as `true` to show mongo document id's |\n| limit | `3` | integer | Limit results returned, defaults to all documents returned |\n| offset | `3` | integer | Offset or skip results from the beginning of the query |\n| sort | `capsule_serial` | string | Change result sorting by setting value to any parameter in this list |\n| order | `desc` | string | Change result ordering by setting values of `asc` or `desc` |",
        "operationId": "UpcomingCapsules",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 13 Dec 2018 00:36:04 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "2"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding, Origin"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1; mode=block"
                  }
                }
              },
              "Access-Control-Allow-Origin": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "*"
                  }
                }
              },
              "X-Response-Time": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "29ms"
                  }
                }
              },
              "Accept-Ranges": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "bytes"
                  }
                }
              },
              "Expect-CT": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "cloudflare"
                  }
                }
              },
              "CF-RAY": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "48845ab60b743982-PHX"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "example": []
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/capsules/past": {
      "get": {
        "tags": [
          "Capsules"
        ],
        "summary": "Past Capsules",
        "description": "Lists capsules that have launched\n\n#### Optional Querystrings\n\n| Param  | Sample | Type | Description |\n| --- | --- | --- | --- |\n| capsule_serial | `C112` | string | Filter by capsule serial |\n| capsule_id | `dragon1` | string | Filter by capsule id |\n| status | `active` | string | Filter by capsule status |\n| original_launch | `2017-02-19T14:39:00.000Z` | UTC ISO timestamp | Filter by capsule original launch date |\n| mission | `SpaceX CRS-5` | string | Filter by capsule mission |\n| landings | `2` | integer | Filter by capsule landings |\n| type | `Dragon 1.1` | string | Filter by capsule type |\n| reuse_count | `1` | integer | Filter by number of times the capsule was reused |\n\n#### Optional Ouput Control Querystrings\n\n| Param  | Sample | Type | Description |\n| --- | --- | --- | --- |\n| id | `true` | boolean | Set as `true` to show mongo document id's |\n| limit | `3` | integer | Limit results returned, defaults to all documents returned |\n| offset | `3` | integer | Offset or skip results from the beginning of the query |\n| sort | `capsule_serial` | string | Change result sorting by setting value to any parameter in this list |\n| order | `desc` | string | Change result ordering by setting values of `asc` or `desc` |",
        "operationId": "PastCapsules",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Thu, 13 Dec 2018 00:36:47 GMT"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "2"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding, Origin"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1; mode=block"
                  }
                }
              },
              "Access-Control-Allow-Origin": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "*"
                  }
                }
              },
              "X-Response-Time": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "26ms"
                  }
                }
              },
              "Accept-Ranges": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "bytes"
                  }
                }
              },
              "Expect-CT": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "cloudflare"
                  }
                }
              },
              "CF-RAY": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "48845bc30a103982-PHX"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "example": []
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/cores": {
      "get": {
        "tags": [
          "Cores"
        ],
        "summary": "All Cores",
        "description": "\n#### Optional Querystrings\n\n| Param  | Sample | Type | Description |\n| --- | --- | --- | --- |\n| core_serial | `B1037` | string | Filter by core serial |\n| block | `5` | integer | Filter by core block number |\n| status | `active` | string | Filter by core status |\n| original_launch | `2017-07-05T23:35:00.000Z` | UTC ISO timestamp | Filter by core original launch date |\n| mission | `Intelsat 35e` | string | Filter by core mission |\n| reuse_count | `1` | integer | Filter by number of times the core was reused |\n| rtls_attempts | `1` | integer | Filter by RTLS attempted landings |\n| rtls_landings | `1` | integer | Filter by RTLS successful landings |\n| asds_attempts | `1` | integer | Filter by ASDS attempted landings |\n| asds_landings | `1` | integer | Filter by ASDS successful landings |\n| water_landing | `1` | boolean | Filter by water landings |\n\n#### Optional Ouput Control Querystrings\n\n| Param  | Sample | Type | Description |\n| --- | --- | --- | --- |\n| id | `true` | boolean | Set as `true` to show mongo document id's |\n| limit | `3` | integer | Limit results returned, defaults to all documents returned |\n| offset | `3` | integer | Offset or skip results from the beginning of the query |\n| sort | `core_serial` | string | Change result sorting by setting value to any parameter in this list |\n| order | `desc` | string | Change result ordering by setting values of `asc` or `desc` |",
        "operationId": "AllCores",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Access-Control-Allow-Origin": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "*"
                  }
                }
              },
              "CF-RAY": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "458448f82c7958df-DFW"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Length": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "2"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Mon, 10 Sep 2018 19:26:13 GMT"
                  }
                }
              },
              "Expect-CT": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "cloudflare"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding, Origin"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Response-Time": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "39ms"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1; mode=block"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "example": []
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/cores/{core_serial}": {
      "get": {
        "tags": [
          "Cores"
        ],
        "summary": "One Core",
        "description": "#### Params\n\n| Param  | Sample | Type | Description |\n| --- | --- | --- | --- |\n| core_serial | `B1032` | string | get one core by serial |\n\n#### Optional Ouput Control Querystrings\n\n| Param  | Sample | Type | Description |\n| --- | --- | --- | --- |\n| id | `true` | boolean | Set as `true` to show mongo document id's |",
        "operationId": "OneCore",
        "parameters": [
          {
            "name": "core_serial",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Access-Control-Allow-Origin": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "*"
                  }
                }
              },
              "CF-RAY": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "458449cbadb558df-DFW"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Mon, 10 Sep 2018 19:26:47 GMT"
                  }
                }
              },
              "Expect-CT": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "cloudflare"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "Transfer-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "chunked"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding, Origin"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "X-Response-Time": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "37ms"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1; mode=block"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "$ref": "#/components/schemas/OneCore"
                },
                "example": {
                  "core_serial": "B1042",
                  "block": 4,
                  "status": "retired",
                  "original_launch": "2017-10-30T19:34:00Z",
                  "original_launch_unix": 1509392040,
                  "missions": [
                    {
                      "name": "KoreaSat 5A",
                      "flight": 50
                    }
                  ],
                  "reuse_count": 0,
                  "rtls_attempts": 0,
                  "rtls_landings": 0,
                  "asds_attempts": 1,
                  "asds_landings": 1,
                  "water_landing": false,
                  "details": "The Octaweb caught on fire right after Landing due to an RP-1 fuel leak."
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OneShipError"
                },
                "example": {
                  "error": "Not Found"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/cores/upcoming": {
      "get": {
        "tags": [
          "Cores"
        ],
        "summary": "Upcoming Cores",
        "description": "Lists cores that haven't launched yet\n\n#### Optional Querystrings\n\n| Param  | Sample | Type | Description |\n| --- | --- | --- | --- |\n| core_serial | `B1037` | string | Filter by core serial |\n| block | `5` | integer | Filter by core block number |\n| status | `active` | string | Filter by core status |\n| original_launch | `2017-07-05T23:35:00.000Z` | UTC ISO timestamp | Filter by core original launch date |\n| mission | `Intelsat 35e` | string | Filter by core mission |\n| reuse_count | `1` | integer | Filter by number of times the core was reused |\n| rtls_attempts | `1` | integer | Filter by RTLS attempted landings |\n| rtls_landings | `1` | integer | Filter by RTLS successful landings |\n| asds_attempts | `1` | integer | Filter by ASDS attempted landings |\n| asds_landings | `1` | integer | Filter by ASDS successful landings |\n| water_landing | `1` | boolean | Filter by water landings |\n\n#### Optional Ouput Control Querystrings\n\n| Param  | Sample | Type | Description |\n| --- | --- | --- | --- |\n| id | `true` | boolean | Set as `true` to show mongo document id's |\n| limit | `3` | integer | Limit results returned, defaults to all documents returned |\n| offset | `3` | integer | Offset or skip results from the beginning of the query |\n| sort | `core_serial` | string | Change result sorting by setting value to any parameter in this list |\n| order | `desc` | string | Change result ordering by setting values of `asc` or `desc` |",
        "operationId": "UpcomingCores",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Wed, 12 Dec 2018 23:30:44 GMT"
                  }
                }
              },
              "Transfer-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "chunked"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding, Origin"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1; mode=block"
                  }
                }
              },
              "Access-Control-Allow-Origin": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "*"
                  }
                }
              },
              "X-Response-Time": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "26ms"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Expect-CT": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "cloudflare"
                  }
                }
              },
              "CF-RAY": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "4883fb04cc773994-PHX"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UpcomingCore"
                  }
                },
                "example": [
                  {
                    "core_serial": "B1051",
                    "block": 5,
                    "status": "active",
                    "original_launch": null,
                    "original_launch_unix": null,
                    "missions": [],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "Undergoing final testing at Cape Canaveral."
                  },
                  {
                    "core_serial": "B1052",
                    "block": 5,
                    "status": "active",
                    "original_launch": null,
                    "original_launch_unix": null,
                    "missions": [],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "Finished testing at McGregor as of Sep 28, 2018"
                  },
                  {
                    "core_serial": "B1053",
                    "block": 5,
                    "status": "active",
                    "original_launch": null,
                    "original_launch_unix": null,
                    "missions": [],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "Likely finished testing at McGregor as of Sep 28, 2018"
                  },
                  {
                    "core_serial": "B1054",
                    "block": 5,
                    "status": "active",
                    "original_launch": null,
                    "original_launch_unix": null,
                    "missions": [],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "En route from McGregor to Cape Canaveral for first mission."
                  },
                  {
                    "core_serial": "B1055",
                    "block": 5,
                    "status": "active",
                    "original_launch": null,
                    "original_launch_unix": null,
                    "missions": [],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "Undergoing testing at McGregor."
                  },
                  {
                    "core_serial": "B1056",
                    "block": 5,
                    "status": "active",
                    "original_launch": null,
                    "original_launch_unix": null,
                    "missions": [],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "Undergoing testing at McGregor."
                  }
                ]
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/v3/cores/past": {
      "get": {
        "tags": [
          "Cores"
        ],
        "summary": "Past Cores",
        "description": "Lists cores that have launched\n\n#### Optional Querystrings\n\n| Param  | Sample | Type | Description |\n| --- | --- | --- | --- |\n| core_serial | `B1037` | string | Filter by core serial |\n| block | `5` | integer | Filter by core block number |\n| status | `active` | string | Filter by core status |\n| original_launch | `2017-07-05T23:35:00.000Z` | UTC ISO timestamp | Filter by core original launch date |\n| mission | `Intelsat 35e` | string | Filter by core mission |\n| reuse_count | `1` | integer | Filter by number of times the core was reused |\n| rtls_attempts | `1` | integer | Filter by RTLS attempted landings |\n| rtls_landings | `1` | integer | Filter by RTLS successful landings |\n| asds_attempts | `1` | integer | Filter by ASDS attempted landings |\n| asds_landings | `1` | integer | Filter by ASDS successful landings |\n| water_landing | `1` | boolean | Filter by water landings |\n\n#### Optional Ouput Control Querystrings\n\n| Param  | Sample | Type | Description |\n| --- | --- | --- | --- |\n| id | `true` | boolean | Set as `true` to show mongo document id's |\n| limit | `3` | integer | Limit results returned, defaults to all documents returned |\n| offset | `3` | integer | Offset or skip results from the beginning of the query |\n| sort | `core_serial` | string | Change result sorting by setting value to any parameter in this list |\n| order | `desc` | string | Change result ordering by setting values of `asc` or `desc` |",
        "operationId": "PastCores",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Date": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Wed, 12 Dec 2018 23:30:44 GMT"
                  }
                }
              },
              "Transfer-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "chunked"
                  }
                }
              },
              "Connection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "keep-alive"
                  }
                }
              },
              "Vary": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "Accept-Encoding, Origin"
                  }
                }
              },
              "X-DNS-Prefetch-Control": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "off"
                  }
                }
              },
              "X-Frame-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "SAMEORIGIN"
                  }
                }
              },
              "Strict-Transport-Security": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=15552000; includeSubDomains"
                  }
                }
              },
              "X-Download-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "noopen"
                  }
                }
              },
              "X-Content-Type-Options": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "nosniff"
                  }
                }
              },
              "X-XSS-Protection": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "1; mode=block"
                  }
                }
              },
              "Access-Control-Allow-Origin": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "*"
                  }
                }
              },
              "X-Response-Time": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "26ms"
                  }
                }
              },
              "Content-Encoding": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "gzip"
                  }
                }
              },
              "Expect-CT": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                  }
                }
              },
              "Server": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "cloudflare"
                  }
                }
              },
              "CF-RAY": {
                "content": {
                  "text/plain": {
                    "schema": {
                      "type": "string"
                    },
                    "example": "4883fb04cc773994-PHX"
                  }
                }
              }
            },
            "content": {
              "application/json; charset=utf-8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PastCore"
                  }
                },
                "example": [
                  {
                    "core_serial": "Merlin1A",
                    "block": "null",
                    "status": "expended",
                    "original_launch": "\"2006-03-24T22:30:00Z\"",
                    "original_launch_unix": 1143239400,
                    "missions": [
                      {
                        "name": "FalconSat",
                        "flight": 1
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "Engine failure at T+33 seconds resulted in loss of vehicle"
                  },
                  {
                    "core_serial": "Merlin2A",
                    "block": "null",
                    "status": "expended",
                    "original_launch": "\"2007-03-21T01:10:00Z\"",
                    "original_launch_unix": 1174439400,
                    "missions": [
                      {
                        "name": "DemoSat",
                        "flight": 2
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "Successful first-stage burn and transition to second stage, maximal altitude 289 km. Harmonic oscillation at T+5 minutes Premature engine shutdown at T+7 min 30 s. Failed to reach orbit."
                  },
                  {
                    "core_serial": "Merlin1C",
                    "block": "null",
                    "status": "expended",
                    "original_launch": "\"2008-08-02T03:34:00Z\"",
                    "original_launch_unix": 1217648040,
                    "missions": [
                      {
                        "name": "Trailblazer",
                        "flight": 3
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "Residual stage-1 thrust led to collision between stage 1 and stage 2."
                  },
                  {
                    "core_serial": "Merlin2C",
                    "block": "null",
                    "status": "expended",
                    "original_launch": "\"2008-09-28T23:15:00Z\"",
                    "original_launch_unix": 1222643700,
                    "missions": [
                      {
                        "name": "RatSat",
                        "flight": 4
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "Initially scheduled for 23–25 Sep, carried dummy payload – mass simulator, 165 kg (originally intended to be RazakSAT."
                  },
                  {
                    "core_serial": "Merlin3C",
                    "block": "null",
                    "status": "expended",
                    "original_launch": "\"2009-07-13T03:35:00Z\"",
                    "original_launch_unix": 1247456100,
                    "missions": [
                      {
                        "name": "RazakSat",
                        "flight": 5
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "null"
                  },
                  {
                    "core_serial": "B0003",
                    "block": "1",
                    "status": "expended",
                    "original_launch": "\"2010-06-04T18:45:00Z\"",
                    "original_launch_unix": 1275677100,
                    "missions": [
                      {
                        "name": "Falcon 9 Test Flight",
                        "flight": 6
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "Core expended on flight, no recovery effort. First flight of Falcon 9"
                  },
                  {
                    "core_serial": "B0004",
                    "block": "1",
                    "status": "expended",
                    "original_launch": "\"2010-12-08T15:43:00Z\"",
                    "original_launch_unix": 1291822980,
                    "missions": [
                      {
                        "name": "COTS 1",
                        "flight": 7
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "First flight of Dragon"
                  },
                  {
                    "core_serial": "B0005",
                    "block": "1",
                    "status": "expended",
                    "original_launch": "\"2012-05-22T07:44:00Z\"",
                    "original_launch_unix": 1337672640,
                    "missions": [
                      {
                        "name": "COTS 2",
                        "flight": 8
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "null"
                  },
                  {
                    "core_serial": "B0006",
                    "block": "1",
                    "status": "expended",
                    "original_launch": "\"2012-10-08T00:35:00Z\"",
                    "original_launch_unix": 1349656500,
                    "missions": [
                      {
                        "name": "CRS-1",
                        "flight": 9
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "Suffered engine out at T+1:19 but primary mission successful"
                  },
                  {
                    "core_serial": "B0007",
                    "block": "1",
                    "status": "expended",
                    "original_launch": "\"2013-03-01T19:10:00Z\"",
                    "original_launch_unix": 1362165000,
                    "missions": [
                      {
                        "name": "CRS-2",
                        "flight": 10
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "null"
                  },
                  {
                    "core_serial": "B1003",
                    "block": "1",
                    "status": "destroyed",
                    "original_launch": "\"2013-09-29T16:00:00Z\"",
                    "original_launch_unix": 1380470400,
                    "missions": [
                      {
                        "name": "CASSIOPE",
                        "flight": 11
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": true,
                    "details": "First flight of Falcon 9 v1.1 upgrade, first Spacex flight from Vandenberg"
                  },
                  {
                    "core_serial": "B1004",
                    "block": "1",
                    "status": "expended",
                    "original_launch": "\"2013-12-03T22:41:00Z\"",
                    "original_launch_unix": 1386110460,
                    "missions": [
                      {
                        "name": "SES-8",
                        "flight": 12
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "null"
                  },
                  {
                    "core_serial": "B1005",
                    "block": "1",
                    "status": "expended",
                    "original_launch": "\"2014-01-06T18:06:00Z\"",
                    "original_launch_unix": 1389031560,
                    "missions": [
                      {
                        "name": "Thaicom 6",
                        "flight": 13
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "null"
                  },
                  {
                    "core_serial": "B1006",
                    "block": "1",
                    "status": "destroyed",
                    "original_launch": "\"2014-04-18T19:25:00Z\"",
                    "original_launch_unix": 1397849100,
                    "missions": [
                      {
                        "name": "CRS-3",
                        "flight": 14
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": true,
                    "details": "Broke up after sucessful water landing"
                  },
                  {
                    "core_serial": "B1007",
                    "block": "1",
                    "status": "destroyed",
                    "original_launch": "\"2014-07-14T15:15:00Z\"",
                    "original_launch_unix": 1405350900,
                    "missions": [
                      {
                        "name": "OG-2 Mission 1",
                        "flight": 15
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": true,
                    "details": "Broke up after sucessful water landing"
                  },
                  {
                    "core_serial": "B1008",
                    "block": "1",
                    "status": "expended",
                    "original_launch": "\"2014-08-05T08:00:00Z\"",
                    "original_launch_unix": 1407225600,
                    "missions": [
                      {
                        "name": "AsiaSat 8",
                        "flight": 16
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "null"
                  },
                  {
                    "core_serial": "B1011",
                    "block": "1",
                    "status": "expended",
                    "original_launch": "\"2014-09-07T05:00:00Z\"",
                    "original_launch_unix": 1410066000,
                    "missions": [
                      {
                        "name": "AsiaSat 6",
                        "flight": 17
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "null"
                  },
                  {
                    "core_serial": "B1010",
                    "block": "1",
                    "status": "expended",
                    "original_launch": "\"2014-09-21T05:52:00Z\"",
                    "original_launch_unix": 1411278720,
                    "missions": [
                      {
                        "name": "CRS-4",
                        "flight": 18
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": true,
                    "details": "Broke up after sucessful water landing"
                  },
                  {
                    "core_serial": "B1012",
                    "block": "1",
                    "status": "destroyed",
                    "original_launch": "\"2015-01-10T09:47:00Z\"",
                    "original_launch_unix": 1420883220,
                    "missions": [
                      {
                        "name": "CRS-5",
                        "flight": 19
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 1,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "Destroyed on impact with droneship, grid fin hydraulic fluid depleted"
                  },
                  {
                    "core_serial": "B1013",
                    "block": "1",
                    "status": "destroyed",
                    "original_launch": "\"2015-02-11T23:03:00Z\"",
                    "original_launch_unix": 1423695780,
                    "missions": [
                      {
                        "name": "DSCOVR",
                        "flight": 20
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": true,
                    "details": "Broke up after sucessful water landing"
                  },
                  {
                    "core_serial": "B1014",
                    "block": "1",
                    "status": "expended",
                    "original_launch": "\"2015-03-02T03:50:00Z\"",
                    "original_launch_unix": 1425268200,
                    "missions": [
                      {
                        "name": "ABS-3A / Eutelsat 115W B",
                        "flight": 21
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "null"
                  },
                  {
                    "core_serial": "B1015",
                    "block": "1",
                    "status": "destroyed",
                    "original_launch": "\"2015-04-14T20:10:00Z\"",
                    "original_launch_unix": 1429042200,
                    "missions": [
                      {
                        "name": "CRS-6",
                        "flight": 22
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 1,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "Destroyed on impact with droneship due to excess lateral velocity - throttle stiction"
                  },
                  {
                    "core_serial": "B1016",
                    "block": "1",
                    "status": "expended",
                    "original_launch": "\"2015-04-27T23:03:00Z\"",
                    "original_launch_unix": 1430175780,
                    "missions": [
                      {
                        "name": "TürkmenÄlem 52°E / MonacoSAT",
                        "flight": 23
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "null"
                  },
                  {
                    "core_serial": "B1018",
                    "block": "1",
                    "status": "destroyed",
                    "original_launch": "\"2015-06-28T14:21:00Z\"",
                    "original_launch_unix": 1435501260,
                    "missions": [
                      {
                        "name": "CRS-7",
                        "flight": 24
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "RUD at T + 139s - second stage overpressure event due to defective COPV strut heim joint"
                  },
                  {
                    "core_serial": "B1019",
                    "block": "1",
                    "status": "retired",
                    "original_launch": "\"2015-12-22T01:29:00Z\"",
                    "original_launch_unix": 1450747740,
                    "missions": [
                      {
                        "name": "OG-2 Mission 2",
                        "flight": 25
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 1,
                    "rtls_landings": 1,
                    "asds_attempts": 0,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "First recovered stage, first return to launch site"
                  },
                  {
                    "core_serial": "B1017",
                    "block": "1",
                    "status": "destroyed",
                    "original_launch": "\"2016-01-17T15:42:00Z\"",
                    "original_launch_unix": 1453045320,
                    "missions": [
                      {
                        "name": "Jason 3",
                        "flight": 26
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 1,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "Destroyed after drone ship landing due to landing leg failure"
                  },
                  {
                    "core_serial": "B1020",
                    "block": "1",
                    "status": "destroyed",
                    "original_launch": "\"2016-03-04T23:35:00Z\"",
                    "original_launch_unix": 1457134500,
                    "missions": [
                      {
                        "name": "SES-9",
                        "flight": 27
                      }
                    ],
                    "reuse_count": 0,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 1,
                    "asds_landings": 0,
                    "water_landing": false,
                    "details": "Destroyed on impact with drone ship due to excess velocity, possible fuel exhaustion"
                  },
                  {
                    "core_serial": "B1021",
                    "block": "2",
                    "status": "retired",
                    "original_launch": "\"2016-04-08T20:43:00Z\"",
                    "original_launch_unix": 1460148180,
                    "missions": [
                      {
                        "name": "CRS-8",
                        "flight": 28
                      },
                      {
                        "name": "SES-10",
                        "flight": 38
                      }
                    ],
                    "reuse_count": 1,
                    "rtls_attempts": 0,
                    "rtls_landings": 0,
                    "asds_attempts": 2,
                    "asds_landings": 2,
                    "water_landing": false,
                    "details": "First drone ship landing, first orbital booster to be reflown, first orbital booster to be landed twice, will be given as a gift to Cape Canaveral"
                  },
                  {
                    "core_serial": "B1022",
                    "block": "2",
                    "status": "retired",
                    "original_launch": "\"2016-05-06T05:21:00Z\"",
                    "original_launch_unix": 1462512060,
                    "missions": [
                      {
                        "name": "JCSAT-2B",
                        "flight": 29
                      }
                    ],
                    "reuse_count": 0,
[...]
